version: "3"

networks:
  gitea:
    external: false

services:
  server:
    image: gitea/gitea:latest
    container_name: gitea
    environment:
     - USER_UID=1000
     - USER_GID=1000
     - TZ=Europe/Amsterdam
     - GITEA__database__DB_TYPE=mysql
     - GITEA__database__HOST=db:3306
     - GITEA__database__NAME=gitea
     - GITEA__database__USER=gitea
     - GITEA__database__PASSWD=gitea
    restart: always
    networks:
      - gitea
    volumes:
     - /home/rick/docker/gitea/data:/data
    ports:
     - "3001:3000"
     - "222:22"
    depends_on:
      - db

  db:
    image: mysql:8
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=gitea
      - MYSQL_USER=gitea
      - MYSQL_PASSWORD=gitea
      - MYSQL_DATABASE=gitea
    networks:
      - gitea
    volumes:
      - /home/rick/docker/gitea/mysql:/var/lib/mysql
