version: "3.8"
services:
  broker:
    restart: unless-stopped
    image: docker.io/library/redis:7
    volumes:
      - /home/rick/docker/paperless/redisdata:/data
  db:
    restart: unless-stopped
    image: docker.io/library/mariadb:11
    volumes:
      - /home/rick/docker/paperless/dbdata:/var/lib/mysql
    environment:
      - MARIADB_HOST=paperless
      - MARIADB_DATABASE=paperless
      - MARIADB_USER=paperless
      - MARIADB_PASSWORD=paperless
      - MARIADB_ROOT_PASSWORD=Rvd@1986@0922
  webserver:
    restart: unless-stopped
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    ports:
      - 8001:8000
    volumes:
      - /home/rick/docker/paperless/data:/usr/src/paperless/data
      - /storage/dossier:/usr/src/paperless/media
      - /home/rick/docker/paperless/export:/usr/src/paperless/export
      - /home/rick/docker/paperless/consume:/usr/src/paperless/consume
    env_file: .env
    environment:
      - PAPERLESS_REDIS=redis://broker:6379
      - PAPERLESS_DBENGINE=mariadb
      - PAPERLESS_DBHOST=db
      - PAPERLESS_DBUSER=paperless
      - PAPERLESS_DBPASS=paperless
      - PAPERLESS_DBPORT=3306
      - PAPERLESS_TIKA_ENABLED=1
      - PAPERLESS_TIKA_ENDPOINT=http://tika:9998
      - PAPERLESS_TIKA_GOTENBERG_ENDPOINT=http://gotenberg:3000
    depends_on:
      - db
      - broker
      - gotenberg
      - tika
  gotenberg:
    restart: unless-stopped
    image: docker.io/gotenberg/gotenberg:7.10
    command:
      - gotenberg
      - --chromium-disable-javascript=true
      - --chromium-allow-list=file:///tmp/.*
  tika:
    restart: unless-stopped
    image: ghcr.io/paperless-ngx/tika:latest
networks: {}
